.first-letter\:pl-16::first-letter {
    padding-left: 4rem;
}
.p-first-letter\:pl-16 {
    p::first-letter {
        padding-left: 4rem;
    }
}
.p-mb-4 {
    p {
        margin-bottom: 1rem;
    }
}
.first-letter\:pl-10::first-letter {
    padding-left: 2.625rem;
}
.first-letter\:pl-8::first-letter {
    padding-left: 2rem;
}
.page-passed-won {
    :not(.l-header, .l-footer) {
        .container {
            max-width: 1140px;
        
            @media screen and (min-width: 1600px) {
                max-width: 1280px;
            }
        }
    }
}
.testimonials-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
            line-clamp: 7; 
    -webkit-box-orient: vertical;
}
