.first-letter\:pl-16::first-letter {
    padding-left: 4rem;
}
.page-passed-won {
    :not(.l-header, .l-footer) {
        .container {
            max-width: 1140px;
        
            @media screen and (min-width: 1600px) {
                max-width: 1280px;
            }
        }
    }
}
