* {
    font-family: "Roboto", sans-serif;
    // color: #333;
}
body {
    color: #333;
}

body b {
    font-weight: 700;
    color: inherit;
}

body span {
    color: inherit;
    font-family: inherit;
}

body p {
    color: inherit;
}
body .bold-as-black-primary b{
    font-weight: 900;
    color: #ec2f30;
}
