//colors
$color-folk-primary: #E23226;

$color-folk-black: #1C1C1C;
$color-folk-blue: #37A1C7;
$color-folk-cyan: #00A996;
$color-folk-dark-cyan: #067475;
$color-folk-dark-purple: #441952;
$color-folk-dark-silver: #1C1C1C; 
$color-folk-gray: #808080;
$color-folk-green: #22AC73;
// $color-folk-light-gray: #C3C3C3;
$color-folk-light-gray: #E3E3E3;
$color-folk-light-purple: #702286;
$color-folk-medium-light-gray: #AAA;
$color-folk-pink: #FECCBE;
$color-folk-purple: #662480;
$color-folk-red: #DC5051;
$color-folk-white: #FFF;
