//colors
$color-folk-primary: #DD504D;

$color-folk-black: #1C1C1C;
$color-folk-blue: #37A1C7;
$color-folk-dark-cyan: #067475;
$color-folk-gray: #808080;
$color-folk-green: #22AC73;
$color-folk-light-gray: #C3C3C3;
$color-folk-medium-light-gray: #AAA;
$color-folk-light-gray: #E3E3E3;
$color-folk-purple: #662480;
$color-folk-white: #FFF;