.blog-content {
    p,  li {
        color: black;
        font-size: 1.125rem;
        line-height: 1.25;
    }

    p, blockquote {
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ul,
    ol {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    ul {
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }
  
    blockquote {
        color: #222;
        font-size: 1.115rem;
        line-height: 1.25;
        background: #f7f4f4;
        border-left: 6px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.8rem 10px 0.8rem 35px;
        position: relative;
      }
    blockquote::before {
        font-family: Arial;
        content: "\201C";
        color: #78C0A8;
        font-size: 2.5rem;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    blockquote p {
     display: inline;
    }
    a {
        text-decoration: underline;
        color: #d63733;
        font-weight: 500;
    }
     h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.8rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    } 
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1rem;
    }
}
