.blog-content {
    p {
        color: black;
        font-size: 1.125rem;
        line-height: 1.25;
        margin-bottom: 1rem;
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ul,
    ol {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}
