$utility-name: 'u-bg-folk';

.#{$utility-name} {
    &-cyan {
        background-color: $color-folk-cyan !important;
    }

    &-dark-purple {
        background-color: $color-folk-dark-purple !important;
    }

    &-light-gray {
        background-color: $color-folk-light-gray !important;
    }

    &-light-black {
        background-color: rgba(0, 0, 0, .9) !important;
    }

    &-light-gray {
        background-color: $color-folk-light-gray !important;
    }

    &-light-purple {
        background-color: $color-folk-light-purple !important;
    }

    &-none {
        background: none !important;
    }

    &-primary {
        background-color: $color-folk-primary !important;
    }

    &-red {
        background-color: $color-folk-red !important;
    }

    &-white {
        background-color: $color-folk-white !important;
    }
}

@media screen and (min-width: 1024px) {
    .lg\: {
        &#{$utility-name} {
            &-none {
                background: none !important;
            }
        }
    }
}

.hover\: {
    &#{$utility-name} {
        &-cyan {
            &:hover {
                background-color: $color-folk-cyan !important;
            }
        }

        &-light-purple {
            &:hover {
                background-color: $color-folk-light-purple !important;
            }
        }

        &-none {
            &:hover {
                background: none !important;
            }
        }

        &-primary {
            &:hover {
                background-color: $color-folk-primary !important;
            }
        }
        
        &-purple {
            &:hover {
                background-color: $color-folk-purple !important;
            }
        }
    }
}