$utility-name: 'u-color-folk';

.#{$utility-name} {
    &-black {
        color: $color-folk-black !important;
    }

    &-blue {
        color: $color-folk-blue !important;
    }

    &-dark-cyan {
        color: $color-folk-dark-cyan !important;
    }

    &-gray {
        color: $color-folk-gray !important;
    }

    &-primary {
        color: $color-folk-primary !important;
    }

    &-purple {
        color: $color-folk-purple !important;
    }

    &-white {
        color: $color-folk-white !important;
    }
}

.all\: {
    &#{$utility-name} {
        &-primary {
            * {
                color: $color-folk-primary !important;
            }
        }

        &-white,
        &-white * {
            color: $color-folk-white
        }
    }   
}

.hover\: {
    &#{$utility-name} {
        &-black {
            &:hover {
                color: $color-folk-black !important;
            }
        }
    
        &-primary {
            &:hover {
                color: $color-folk-primary !important;
            }
        }

        &-white {
            &:hover {
                color: $color-folk-white !important;
            }
        }
    }
}


//large
.lg\: {
    &#{$utility-name} {
        &-black {
            @media screen and (min-width: 1024px) {
                color: $color-folk-black !important;
            }
        }
    }
}