$utility-name: 'u-h';

.#{$utility-name} {
    &-unset {
        height: unset !important;
    }
}

.lg\: {
    &#{$utility-name} {
        &-unset {
            @media screen and (min-width: 1024px) {
                height: unset !important;
            }
        }
    }
}