$layout-name: 'l-disclosure';

.#{$layout-name} {
    background-image: url(../../images/disclosure-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &__text-large {
        font-size: 1.625rem;

        @media screen and (max-width: 575px) {
            font-size: 1.25rem;
        }

        @media screen and (min-width: 1600px) {
            font-size: 2.3125rem;
        }
    }
}