$layout-name: 'l-footer';

.#{$layout-name} {
    border-bottom: 24px solid #DC5051;
    background-color: #E9E9E9;
    
    &__text-medium {
        font-size: 1.125rem;
    }

    &__text-large {
        font-size: 1.375rem;
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: #C3C3C3;
    }

    &__map {
        width: 100%;
    
        @media screen and (min-width: 0px) {
            height: 200px;
        }

        @media screen and (min-width: 1140px) {
            height: 244px;
        }
        
        @media screen and (min-width: 1400px) {
            height: 320px;
        }
       
       

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}