$layout-name: 'l-items';

.#{$layout-name} {
    background-image: url(../../images/items-background.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 180%;
    background-size: 1050px 908px;

    @media screen and (max-width: 991px) {
        background: #E7DED6;
    }
    @media screen and (max-width: 1400px) {
        background-position-x: 320%;
    }
    @media screen and (max-width: 1400px) {
        background-position-x: 320%;
    }

@media screen and (max-width: 1140px) {
        background-position-x: 370%;
        background-size: 850px 735px;
    }

    &__text {
        font-size: 1.125rem;

        @media screen and (min-width: 1600px) {
            font-size: 1.5rem;
        }
    }
}