$layout-name: 'l-machine-passed-won';

.#{$layout-name} {
    &__image-g {
        width: 100px;
    }
    
    &__title {
        font-size: 1.25rem;

        @media screen and (min-width: 1600px) {
            font-size: 1.625rem;
        }
    }
    
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card-img {
        height: 235px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &__card-body {
        padding: 1rem;
    }

    &__card-title {
        margin-bottom: 1rem;
        font-size: 1.125rem;

        @media screen and (min-width: 1600px) {
            font-size: 1.375rem;
        }
    }
}