$layout-name: 'l-press';

.#{$layout-name} {
    background-color: #E9E9E9;

    &__title {
        font-size: 2.625rem;
        @media screen and (max-width: 991px) {
            font-size: 2.4rem;;
        }
        @media screen and (max-width: 576px) {
            font-size: 2rem;;
        }
    }

    &__text {
        font-size: 1.5rem;
        @media screen and (max-width: 576px) {
            font-size: 1.3rem;
        }
    }

    &__card-img {
        height: 182px;
    }

    &__card-title {
        font-size: 1.25rem;
    }
}