$layout-name: 'l-submenu';

.#{$layout-name} {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 991px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        line-height: 100%;
        transition: all 0.2s;
        border: 1px solid;
        border-radius: 25px;
        cursor: pointer;

        @media screen and (max-width: 991px) {
            margin: .5rem 1rem;
        }

        &:hover {
            //border-color: #333 !important;
            color: $color-folk-white !important;
            //background-color: #333 !important;
        }

        &.active {
            color: $color-folk-white !important;
        }
    }
}